<div id="wrapper">
	<div id="banner">
		<div class="containerPage">
			<div class="title">
				<h2>Launch recording software</h2>
				<span class="byline">One week to launch</span> </div>
			<ul class="actions">
				<li><a href="#" class="button">Demo Logger</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="containerPage">
		<div class="title">
			<h2>Features</h2>
			<span class="byline"></span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Cloud</p>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Offline Service</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Validataion</p>
				</div>
			</div>
			<!--
			<div class="boxD">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Data Analysis</p>
				</div>
			</div>
			<div class="boxE">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Quick Setup</p>
				</div>
			</div>
		-->
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul>
	</div>
	<div id="featured">
		<div class="containerPage">
			<div class="title">
				<h2>Price</h2>
				
			
			<ul>
				<li>£5 a month</li>
				<li>7p a launch</li>
				<li>Unlimited members</li>
				<li>Based on an individual billing system so you only pay for what you use</li>
				<li>Launch bill paid after the fact</li>
				<li>Paid bi-monthly</li>
			</ul>
			
			<span class="byline">Offer</span> <!-- financial details taken at the beginning of the trial--><!--Pre release max one club per user  <h4>Offer</h4> -->
				
	
			<ul>
				<li>One week free trial</li>
				<li>No launch fees for a further 2 weeks</li>
			</ul>
			</div>
			
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul>
	</div>
	<div id="page" class="containerPage">
		<div class="title">
			<h2>About</h2>
			<span class="byline"></span> </div>
		<ul>
		<li>(The company)</li>
		<li>Small student startup</li>
		<li>Ready to make big waves in the gliding world</li>
	</ul>
		<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul>
	</div>
</div>